form{  
    .form-control{
        display: inline-block;
    }

    input{
        border: none;
    }

    #email{
        border: 1px solid;
        border-radius: 50px;
        width: 30vw;
        margin: 10px;
        padding: 20px;
        color: $primarycolor;
        cursor: pointer;

        &:focus{
            outline: 0;
        }

        @include responsive (phone){
            width:100%;
        }
    }

    &::placeholder{
        color: $neutral;
        opacity: 1;
    }

    button{
        position: relative;
        padding: 10px;
        margin-left: -110px;
        height: 55px;
        width: 100px;
        border-radius: 50px;
        border: 0;
        background: $primarycolor2;
        background: $gradient2;
        cursor: pointer;

        &:focus{
            outline: none;
        }

        &:hover{
            margin-left: -60px;
            background: $primarycolor2;
            background: $gradient2;
        }
    }

    .icon{
        display: none;
    }
    

    small{
        display: none;
    }

    .email-error{
        border: 2px solid $primarycolor2 ;
    }

    .ierror{
        display: inline-block;
        margin-left: -150px;
        top: 25px;
    }   

    .errorMessage{
        display: block;
        padding: 10px;
        color: $primarycolor2;
    }
}
