:root{
    --border: 1px solid;
}

form{  
    padding: 20px;

    @include responsive (phone){
        display: inline-block;
        width: 100%;
    }

    @include responsive(tab-port){
        text-align: center;
     }

    .form-control{
        position: relative;
        display: inline;
    }

    input{
        border: none;
    }

    #email{
        border: var(--border);
        border-radius: 50px;
        width: 30vw;
        margin: 10px;
        padding: 20px;
        background-color: transparent;
        color: $primarycolor;
        cursor: pointer;

        &:focus{
            outline: 0;
        }

        @include responsive (phone){
            display: inline-block;
            width: 200px;
            padding: 10px;
        }

        @include responsive(tab-port){
            width: 50vw;   
        }
    }

    &::placeholder{
        color: $neutral;
        opacity: 1;
    }

    button{
        position: relative;
        padding: 10px;
        margin-left: -110px;
        height: 60px;
        width: 100px;
        border-radius: 50px;
        border: 0;
        background-image: $gradient2;
        cursor: pointer;

        &:focus{
            outline: none;
        }

        &:hover{
            margin-left: -60px;
            background: $primarycolor2;
        }

        @include responsive (phone){
            position: relative;
            display: inline;
            margin-left: -60px;
            max-width: 50px;
            height: 40px;
        }
    }

    .icon{
        display: none;
    }
    

    small{
        display: none;
    }

    .ierror{
        display: inline-block;
        margin-left: -150px;
        top: 25px;

        @include responsive (phone){
            margin-left: -80px;
        }
    }   

    .errorMessage{
        display: block;
        padding: 10px;
        color: $primarycolor2;
        // margin-left: 20px;

        @include responsive(phone){
            text-align: center;
        }
    }
}
